// Corporate footer
footer.page-footer
  .shell
    .hr.bg-gray-light
  .shell.section-60.section-bottom-30
    //Footer brand
    a(href="index.html").reveal-inline-block
      img.img-responsive.reveal-inline-block(src="images/logo-170x172.png" width=70 height=70 alt="")
      .offset-top-10
        div
          h6.barnd-name.text-ubold Good Food
        div
          p.brand-slogan.text-gray.text-italic.font-accent Recipes
    .offset-top-40
      ul.list-inline.list-inline-sm.list-inline-madison
        li
          a(href="#").icon.icon-xxs.fa-facebook.icon-rect.icon-gray-light-filled
        li
          a(href="#").icon.icon-xxs.fa-twitter.icon-rect.icon-gray-light-filled
        li
          a(href="#").icon.icon-xxs.fa-google.icon-rect.icon-gray-light-filled
        li
          a(href="#").icon.icon-xxs.fa-instagram.icon-rect.icon-gray-light-filled
    .offset-top-45
      p.text-dark
        | &copy; #[span(id="copyright-year")] All Rights Reserved Terms of Use and #[a(href="privacy.html" class="text-dark") Privacy Policy]

